# Configuración del Servidor
PORT=3000

# Módulo 2: TMDB (Angélica)
TMDB_API_KEY=pon_aqui_la_llave_de_tmdb

# Base de Datos (Supabase / Prisma)
DATABASE_URL=pon_aqui_la_url_de_supabase

# Módulo 1: Seguridad y JWT (Mauro)
JWT_SECRET=pon_aqui_un_secreto_largo_para_los_tokens
